<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Taskist</strong> by <a href="https://marmundo.github.io">Marcelo Damasceno</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
    </p>
  </div>
</footer>